@using NochDAL.Data
@model List<Domains>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User;
}
<div id="messageArea">
	<ul id="discussion" data-bind="foreach: messages">
		<li>
			<span class="msg-sender" data-bind="text: $data.name"></span>:&nbsp;<span class="msg-body" data-bind="text: $data.message"></span>
		</li>
	</ul>
</div>
<div id="sideBar">
    @foreach (var domain in Model)
    {
        <div>
            @domain.Name
            @foreach (var channel in domain.Channels)
            {
                <br />
                <span class="channel" onclick="getChannelMessages(@channel.ChannelID)">@channel.Name</span>
            }
        </div>
        <br />
    }
</div>
<div id="inputArea">
	<div id="messageContainer">
        <input class="input-lg form-control" type="text" id="message" />
    </div>
	<div id="sendBtnContainer">
		<button type="button" class="send-btn" id="sendmessage"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
	</div>
</div>
<div class="dropdown" id="mobileChatNav">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<li><a href="#">Channels</a></li>
		<li><a href="#">Another action</a></li>
		<li><a href="#">Something else here</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#">Separated link</a></li>
	</ul>
</div>
<input type="hidden" id="displayname" />
<script src="~/scripts/knockout-3.4.0.js"></script>
<script src="~/scripts/noch-app.js"></script>
<script type="text/javascript">
	VARS.init({ username: '@ViewBag.Username', userid: @ViewBag.UserID, channelid: @Session["currchannel"] });
</script>
<script src="@Url.Content("~/scripts/test.js")"></script>