@using NochDAL.Data
@model List<Domains>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User;
}
<div id="messageArea">
	<ul id="discussion"></ul>
</div>
<div id="sideBar">
    @foreach (var domain in Model)
    {
        <div>
            @domain.Name
            @foreach (var channel in domain.Channels)
            {
                <br />
                <span class="channel" onclick="getChannelMessages(@channel.ChannelID)">@channel.Name</span>
            }
        </div>
        <br />
    }
</div>
<div id="inputArea">
	<div id="messageContainer">
        <input class="input-lg form-control" type="text" id="message" />
    </div>
	<div id="sendBtnContainer">
		<button type="button" class="send-btn" id="sendmessage"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
	</div>
</div>
<div class="dropdown" id="mobileChatNav">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<li><a href="#">Channels</a></li>
		<li><a href="#">Another action</a></li>
		<li><a href="#">Something else here</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#">Separated link</a></li>
	</ul>
</div>
<input type="hidden" id="displayname" />

<!--Add script to update the page and send messages.-->
<script type="text/javascript">
	$(function () {
		// Declare a proxy to reference the hub.
		var chat = $.connection.chatHub;
		// Create a function that the hub can call to broadcast messages.
		chat.client.broadcastMessage = function (name, message) {
			// Html encode display name and message.
			var encodedName = $('<div />').text(name).html();
			var encodedMsg = $('<div />').text(message).html();
			// Add the message to the page.
			$('#discussion').append('<li><strong>' + encodedName
				+ '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
		};

		// Set initial focus to message input box.
		$('#message').focus();
		// Start the connection.
		$.connection.hub.start().done(function () {
		    $('#sendmessage').click(function () {
		        // get some chat variables 
		        var msg = $('#message').val();

				// Call the Send method on the hub.
		        chat.server.send('@ViewBag.Username', msg);

		        // call the controller method to send the message to the database
		        $.ajax({
		            url: '@Url.Action("SendMessage", "Chat")',
		            type: 'POST',
		            data: JSON.stringify({
		                userId: @ViewBag.UserID,
		                channelId: 1,
                        msg: msg
		            }),
		            dataType: 'json',
		            contentType: 'application/json; charset=utf-8'
		        });

				// Clear text box and reset focus for next comment.
				$('#message').val('').focus();
			});
		});
	});
</script>
<script src="@Url.Content("~/scripts/test.js")"></script>